<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- make fullscreen-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- phone status bar (default/black/black-translucent)-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- prevent scaling-->
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <!-- MAIN CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>OKKO</title>
  </head>
<body>
</head>
<body id="content-page">
    <header>
      <a href="index.html"><img class="logo" src="img/logo.svg" alt="OKKO"/></a>
    </header>
    
    <!-- Log Page -->
    <div class="wrapper">
        <%- body %>
    </div>
</body>
    <%- script %>
</html>